/* Selection colours (easy to forget) */

::selection         {background: rgb(255,255,158);}
::-moz-selection    {background: rgb(255,255,158);}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}
body                {-webkit-tap-highlight-color: rgb(255,255,158);}

    .container .row {
        width: auto;
    }

@media only screen and (max-width: 768px) {

	#header {
		height: auto;
	}
		#headerInner {
			height: auto;
		}
	img.logo {
		float: left;
		position: relative;
		margin: 12px 0 0 4px;
	}
	#logo {
		position: static;
		height: 62px;
		margin: 0 0 0 102px;
		padding: 60px 0px 0px 0px;
	}
	#logo h2 {
		color: #D2DCE5;
		display: inline;
		font-size: 1em;
		padding-left: 0;
		white-space: nowrap;
	}
	#menu {
		position: static;
		height: 26px;
		padding: 6px 0px 0px 0px;
	}
		#menu li a {
			padding: 4px 8px;
			margin-left: 4px;
			height: 16px;
		}
}

@media only screen and (max-width: 480px) {
	#logo {
		height: 72px;
		padding: 50px 0px 0px 0px;
		margin: 0 0 0 116px;
	}
	#logo h2 {
		display: block;
	}
}

/*      Tablet Layout: 768px.
        Gutters: 24px.
        Outer margins: 28px.
        Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	#headerInner {
		width: auto;
	}
    .fullWidth {
       width: 97%;
       margin-left: auto;
       margin-right: auto;
    }
    div.columns3 {
        width: 100%;
    }
    #footer-inner {
        width: 97%;
        margin: 0px auto;
    }
        .footer-about,
        .footer-other {
            float: left;
            width: 50%;
            margin: 0px 0px 0px 0px;
            padding: 24px 0px 0px 0px
        }
        .footer-other > * {
            padding-left: 20px;
        }
    
	img.column1 {
	    width: 50%;
	}
	img.columns2 {
	    width: 50%;
	}
	img.columns3 {
	    width: 100%;
	}
	img.columns4 {
	    width: 100%;
	}
	img.columns5 {
	    width: 100%;
	}
}

/*      Wide Mobile Layout: 480px.
        Gutters: 24px.
        Outer margins: 22px.
        Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#headerInner {
		width: auto;
	}
    .fullWidth {
        width: 97%;
        margin-left: auto;
        margin-right: auto;
    }
    #secondaryContent {
        width: 100%;
        margin: 0px;
    }
    div.columns1,
    div.columns2 {
        width: 50%;
    }
    div.columns3 {
        width: 100%;
    }
    #footer-inner {
        width: 97%;
        margin: 0px auto;
    }
        .footer-about,
        .footer-other {
            float: left;
            width: 50%;
            margin: 0px 0px 0px 0px;
            padding: 24px 0px 0px 0px
        }
        .footer-other > * {
            padding-left: 20px;
        }
}

@media only screen and (max-width: 480px) {
	#headerInner {
		width: auto;
	}
    .fullWidth {
        width: 97%;
        margin-left: auto;
        margin-right: auto;
    }
    #secondaryContent {
        width: 100%;
        margin: 0px;
    }
    div.columns1,
    div.columns2,
    div.columns3 {
        width: 100%;
    }
    #footer-inner {
        width: 97%;
        margin: 0px auto 40px auto;
    }
        .footer-about,
        .footer-other {
            float: none;
            width: 100%;
            margin: 0px 0px 0px 0px;
            padding: 24px 0px 0px 0px
        }
        
        	img.column1 {
	    width: 50%;
	}
	img.columns2 {
	    width: 40%;
	}
	img.columns3 {
	    width: 95%;
	}
	img.columns4 {
	    width: 95%;
	}
	img.columns5 {
	    width: 95%;
	}
}