/**
 * JENKINS STATUS
 */
div.h-jenkins {
}
ul.h-jenkins-projects {
	list-style: none;
}
ul.h-jenkins-projects li {
    background: transparent url(../gfx/question_mark.png) left center no-repeat;
    padding: 0px 0px 0px 36px;
}
ul.h-jenkins-projects img {
    border: none;
}
ul.h-jenkins-projects span.h-jenkins-jobname {
	font-size: 120%;
	font-weight: bold;
	padding: -2px 0px 2xp 0px;
}