/.settings
/.buildpath
/.project


# Configuration
/application/*/conf/*.ini
!/application/*/conf/*.default.ini
/application/*/conf/*/*.ini
!/application/*/conf/*/*.default.ini

##
# build
/.gem
/displayService.phar
/vendors/dashboard/*
!/vendors/dashboard/install.sh
/build.properties
/logs
.sass-cache
/public/includes/*
