/.settings
/.buildpath
/.project

/application/Commons/cache/*
/application/Commons/logs/*

# Configuration 
/application/*/conf/*.ini
!/application/*/conf/*.default.ini
/application/*/conf/*/*.ini
!/application/*/conf/*/*.default.ini

/build.properties
/build
/logs
