
/* body */
body {
	background-color: #232323;
	color: #585858;
	font-size: 10pt;
	font-family: "trebuchet ms", helvetica, sans-serif;
}

/** Links */
a {
	text-decoration: underline;
	color: #F16C00;
}
a:hover {
	text-decoration: none;
}

/** Headers */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	letter-spacing: -1px;
	text-transform: lowercase;
}
h3, h4, h5, h6 {
	color: #184366;
}
h1 span,
h1 strong,
h1 b {
	font-size: 130%;
	font-weight: bold;
}
h3 span,
h3 strong,
h3 b {
	font-weight: bold;
}
h4 span,
h4 strong
h4 b {
	font-weight: bold;
}

/** Images */
#main img {
	padding: 3px;
	border: solid 1px #e1e1e1;
	max-width: 100%;
}

img.left {
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}
img.right {
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}
img.column1 {
	width: 182px;
}
img.columns2 {
	width: 372px;
}
img.columns3 {
	width: 562px;
}
img.columns4 {
	width: 752px;
}
img.columns5 {
	width: 942px;
}

/** Lists */
ul.links {
	list-style: none;
}

ul.links li {
	line-height: 24px;
}

ul.links li.first {
}

/** Paragraphs */
p {
	line-height: 20px;
}



/**
* Main
*/
#main {
	background: #fff url('../gfx/bg.jpg') 0px 0px repeat-x;
	border-top: 2px white solid;
	padding: 0px 0px 20px 0px;
}
#main_inner ul {
	margin-bottom: 2.0em;
	margin-left: 16px;
}

#main_inner p {
	text-align: justify;
	margin-bottom: 2.0em;
}
#main_inner h3, #main_inner h4 {
	border-bottom: dotted 1px #E1E1E1;
	position: relative;
}
#main_inner h3 {
	font-size: 26px;
	padding-bottom: 0.1em;
	margin-bottom: 0.8em;
	text-shadow: #FFF -2px -4px 0px;
	clear: left;
}
#main_inner h3 strong,
#main_inner h3 b {
	font-size: 32px;
}
#main_inner h4 {
	font-size: 18px;
	padding-bottom: 0.175em;
	margin-bottom: 1.4em;
	margin-top: 0.95em;
	text-shadow: #FFF -2px -4px 0px;
}
#main_inner h4 strong,
#main_inner h4 b {
	font-size: 22px;
}
/** Post */
#main_inner .post
{
position: relative;
}

#main_inner .post h3
{
position: relative;
font-size: 1.7em;
padding-bottom: 1.2em;
}

#main_inner .post ul.post_info
{
list-style: none;
position: absolute;
top: 3em;
font-size: 0.8em;
}

#main_inner .post ul.post_info li
{
background-position: 0em 0.2em;
background-repeat: no-repeat;
display: inline;
padding-left: 18px;
}

#main_inner .post ul.post_info li.date
{
background-image: url('../gfx/n5.gif');
}

#main_inner .post ul.post_info li.comments
{
background-image: url('../gfx/n6.gif');
margin-left: 1.1em;
}


p + pre {
	margin: -16px 0px 16px 0px;
}

code, pre {
	padding: 0 3px 2px;
	font-family: Monaco, Andale Mono, Courier New, monospace;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
code {
	background-color: #fee9cc;
	color: rgba(0, 0, 0, 0.75);
	padding: 1px 3px;
}
pre {
	background-color: #f5f5f5;
	display: block;
	padding: 8.5px;
	margin: 0 0 18px;
	line-height: 18px;
	font-size: 12px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
pre code {
	background-color: transparent;
	padding: 1px 0px;
}
